
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 98vw;
    margin: auto;
}
a{
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}
/*BOTON HAMBURGUESA*/
.menu-btn {
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.62rem;
    display: none;
}
ul, ol {
    list-style: none;
}
.container{
    display: grid;
    width: 100%;
}

/*DISEÑO DE encabezado*/
#encabezadoo {
    margin-bottom: 60px;
    width: 100%;
    height: auto;
}
/*SEGUNDO INTENTO DE MENU*/
.nav-main {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
background-color: #fff;
border-bottom: 4px solid #f73149;
position: fixed;
width: 98vw;
}
.nav-brand {
width: 90px;
}
.nav-main ul {
display: flex;
}
.nav-main ul li {
padding: 10px;
}
.nav-main ul.nav-menu {
flex: 1;
margin-left: 50px;
}
.nav-main ul li a {
padding-bottom: 5px;
}

.nav-main ul li a:hover {
border-bottom: 4px solid #b6846b;
}
#buttonNav {
border: none;
border-radius: 5px;
background-color: #cacac8;
cursor: pointer;
padding: 10px;
}
.imagen1{
    width: 100%;
    height: 250px;
}
.imagen1 > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.imagen2{
    width: 100%;
    height: 250px;
}
.imagen2 > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.imagen3{
    width: 100%;
    height: 250px;
}
.imagen3 > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/*DISEÑO DE FOOTER*/
    footer{
        color: black;
        padding: 0 1.5em;
    }
    .container-footer{
        margin: 0;

    }
    .tittle-footer{
        text-align: center;
        font-size: 3em;
    }
    span{
        color: #f73149;
    }
    .container-footer2{
        color: white;
    }
    .form-footer{
        background: linear-gradient(35deg, #222222, black);
        border-radius: 5px;
        padding: 10px 5px;
    }
    .form-footer form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }
    .form-footer form .block{
        grid-column: 1 / 3;
    }
    .form-footer form button,.form-footer form input,.form-footer form textarea{
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        border-bottom:1px solid #f73149 ;
        outline: 0;
        color: #fff;
    }
    .form-footer form button{
        background-color: #f73149;
        border: 0;
        text-transform: uppercase;
        padding: 2em;
        color: #000;
    }
    .form-footer form button:hover, .form-footer form button:focus{
        background-color: #f73149;
        opacity: 0.6;
        color: #fff;
    }
    .info-footer{
        width: 80%;
        color: #000010;
        padding-top: 10px;
        margin: 0 auto;
    }

    .info-footer h4, .info-footer ul, .info-footer p{
        text-align: center;
        margin: 0 0 1rem 0;
    }
    .info-footer ul{
        list-style: none;
    }
p{
    line-height: 1.8rem;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 1.2rem;
}
div h1{
    margin: 15px 0px;
}

#history, #mision,#vision {
    padding: 5px 50px;
}
#vision{
  
    border-bottom: 4px solid #b6846b;
}

/*NUEVO FOOTER COPYRIGHT*/
.copyr {
    text-align: center;
    padding-bottom: 0;
}
@media screen and (max-width:480px){
    body{
        margin: 0;
        width: 100vw;
    }
    .nav-main{
        width: 100vw;
    }
    .container-footer{
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    .tittle-footer span {
        font-size: 2rem;
    }
    .tittle-footer{
        font-size: 2rem;
    }
    /*NAVEGACION*/
        .menu-btn {
            display: block;
        }
        .nav-main ul.nav-menu {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #cacac8;
            opacity: 0.9;
            height: 100vh;
            transform: translateX(-500px);
            transition: transform 0.4s ease-in-out;
            padding: 30px;
        }
        .nav-main ul.nav-menu.show {
            transform: translateX(-50px);
        }
        .nav-main ul.nav-menu li {
            padding: 20px; 
        }
        .nav-main ul.nav-menu-rigth {
            margin-right: 50px;
        }

    .item2{
        flex-wrap: wrap;
    }
    .item2 > div:hover{
        padding: 5px;
        font-size: 0.9rem;
    }
    .copyr{
        font-size: 0.55rem;
        text-align: center;
    }
    p{
        font-size: .8rem;
    }
    #history, #mision,#vision {
        padding: 5px 20px;
    }

}

@media screen and (min-width:480px) and (max-width:768px){
    body{
        margin: auto;
    }
    .item2{
        font-size:0.8rem ;
    }
    /*NAVEGACION*/
    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #cacac8;
        opacity: 0.9;
        height: 100vh;
        transform: translateX(-500px);
        transition: transform 0.4s ease-in-out;
        padding: 30px;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-50px);
    }
    .nav-main ul.nav-menu li {
        padding: 20px; 
    }
    .nav-main ul.nav-menu-rigth {
        margin-right: 50px;
    }
}
/*ALINEAR ICONOS DE SESION*/
.nav-menu-rigth {
    align-items: center;
}


/*sesion COIAṔDAAAAAAAAAAAAAAAAAAAAA*/
/*INICIO DE SESION*/
.sesion {
    font-size: 30px;
    cursor: pointer;
}
/*INICIO DE SESION*/
.group input.input  {
    font-size: 1.2rem;
}
.showLogin {
    display: none;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.login-wrap{
    width:55%;
    margin:auto;
    height: 490px;
    position:fixed;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-bottom-left-radius: 30px;
    top: 60px;
    right: 0; 
}
.tab {
    color: #f73149;
}
.login-html{
    width:100%;
    height:100%;
    padding:30px 70px 50px 70px;
    background:rgba(0, 0, 0, 0.88);
    border-bottom-left-radius: 30px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#b6846b;
    border-width: 4px;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input{
    border:none;
    padding:6px 20px;
    border-radius:25px;
    background:rgb(202, 202, 200, 0.3);
}
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgb(202, 202, 200, 0.3);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#b6846b;
}
.login-form .group .button:hover {
    opacity: 0.5;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}
.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}
/*DISEÑO DE SING IN- SING UP*/
    /*OCULTAR BOTON DE SING OUT*/
    .ocultarBoton{ 
        visibility: hidden;
    }
    /*OCULTAR TARJETAS DE INICIAR SESION*/
    .ocultarRegistro {
        display: none;
    }
    /*PERSONLIZAR TARJETA CUANDO ESTA SIGN IN*/
    .login-wrap {
        background-color: #000010;
    }
    .pintarLogin {
        border-radius: 15px;
        background-color: #4a4848;
        width: 60%;
        height: 90%;
        color: #fff;
        display: grid;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 50px 30px;
        gap: 15px;
    }
